{% extends "AvantagesUserBundle:Partner:base.html.twig" %}
{% block content %}
<ul class="breadcrumb">
  <li><a href="{{ path('partner') }}">Accueil</a> <span class="divider">/</span></li>
  <li class="active">Devenir partenaire</li>
</ul>
<div class="container">
<blockquote><p>Formulaire de demande de partenariat</p></blockquote>
</div>
{% endblock %}