{% extends "AvantagesUserBundle:Partner:base.html.twig" %}

{% block content %}
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner" style="max-width:1100px;margin: 0 auto;float:none">
    <div class="active item"><img src="{{ asset('img/2.jpg') }}"/></div>
    <div class="item"><img src="{{ asset('img/3.jpg') }}"/></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<br><br>
<div class="container">
	<blockquote><p>A QUI S’ADRESSE ACE ?</p></blockquote>
	<p>
	ACE est destiné exclusivement aux comités d’entreprises français, quelques soit le nombre de salariés représentés.
	Il propose une solution complète et prête à l’utilisation pour les CE, afin qu’ils puissent sereinement remplir leur fonction économique et leur fonction sociale et culturelle. Le service ACE consiste à leur fournir un site Internet ACE dédié, construit sur mesure pour répondre aux besoins classiques d’un CE.
	Ce site internet modifiable par les élus CE permet à la fois d’organiser la vie du CE en communiquant avec les salariés, d’informer ces derniers de leurs droits, et de référencer tous les avantages dont ils bénéficient grâce aux partenaires ACE.
	Les comités d’entreprises qui choisissent la solution ACE doivent adhérer via un abonnement mensuel pour chacun de leur salariés. Cet abonnement donne lieu à l’édition d’une carte ACE pour tous les salariés, qui leur permet sur simple présentation de profiter des offres.
	Pour leur part, les élus des CE ont une carte ACE prémium qui leur permet de bénéficier de quelques suppléments exclusifs, dans la mesure où ils ont en charge la gestion du site.
	En plus des nombreux partenaires ACE référencés, les comités d’entreprises ont évidemment la possibilité d’ajouter leurs propres partenaires, s’ils négocient des avantages indépendamment de leur adhésion à ACE.
	QU’EST-CE QU’UN PARTENAIRES ACE ?
	Un partenaire ACE est un établissement référencé sur les sites Internet ACE, et qui propose des avantages aux salariés.
	Ils consentent à les faire bénéficier d’une remise, soit sur des produits/prestations en particulier, soit sur l’ensemble de leur boutique. Les remises sont permanentes ou éphémères, et correspondent à un minimum de 10%.
	QUI PEUT DEVENIR PARTENAIRE ACE ?
	Dès l’instant que vous êtes un professionnel, vous pouvez proposer vos offres à notre comité de sélection. Celui-ci se charge de l’évaluer selon certains critères, puis décide de la référencer ou non.
	Les partenaires ACE référencés sont ensuite proposés aux salariés sous la classification suivante :
	SEJOURS & VACANCES : établissements, agences de voyages...
	GASTRONOMIE : restaurants, bars à vin, cours de cuisine...
	BIEN ETRE & BEAUTE : institus, maquillages, bronzage, spa...
	SPORT : accrobranche, conduite, via ferrata, salles de sport...
	CULTURE :cinéma, théâtres, musées, auditoriums, concerts, magazines, presse, opéra... ART : poterie, sculpture, peinture, musique...
	ENFANTS : jouets, parcs de loisirs, garderies...
	SHOPPING :magasins de vêtements, de cuisine, de mobilier, Plantes, High-Tech... SERVICES : Garages, opérateurs, formations, droit, clowns, magiciens, traiteurs ... DEMATERIALISE: chèques cadeaux, cartes cadeaux, coffrets cadeaux, Tickets restaurants...
	Quel est l’intérêt de devenir partenaire ACE, quels sont les conditions et quelle est la démarche à suivre ? Rendez-vous sur la page CONDITIONS & INTERETS</p>
</div>
{% endblock %}