{% extends "AvantagesUserBundle:Partner:base.html.twig" %}

{% block content %}
<ul class="breadcrumb">
  <li><a href="{{ path('partner') }}">Accueil</a> <span class="divider">/</span></li>
  <li class="active">Liste de mes produits</li>
</ul>
<div class="container">
<blockquote><p>Liste de mes produits</p></blockquote>
</div>
{% endblock %}