{% extends "AvantagesUserBundle:Partner:base.html.twig" %}

{% block content %}
<ul class="breadcrumb">
  <li><a href="{{ path('partner') }}">Accueil</a> <span class="divider">/</span></li>
  <li class="active">Nouveau produit</li>
</ul>
<div class="container">
<blockquote><p>Créer un nouveau produit</p></blockquote>
</div>
{% endblock %}