{% extends "AvantagesPartnerBundle::basepartner.html.twig" %}
{% block body %}
<ul class="breadcrumb">
  <li><a href="{{ path('partner_home') }}">Accueil</a> <span class="divider">/</span></li>
  <li class="active">Devenir partenaire</li>
</ul>
<div class="container">
<blockquote><p>Formulaire de demande de partenariat</p></blockquote>
</div>
{% endblock %}