{% extends "AvantagesPartnerBundle::basepartner.html.twig" %}
{% block body %}
<ul class="breadcrumb">
  <li><a href="{{ path('partner_home') }}">Accueil</a> <span class="divider">/</span></li>
  <li class="active">Condition</li>
</ul>
<div class="container">
<blockquote><p>PRINCIPE</p></blockquote>
<p>
Pour les partenaires, ACE est un véritable booster de chiffre d’affaires et de notoriété.
Il permet de vous mettre en avant auprès des CE et donc de leurs salariés, une clientèle idéale puisqu’elle détient du pouvoir d’achat. Il s’agit donc de communiquer, pour générer de la clientèle supplémentaire, sans aucune autre contrainte qu’une remise.
CONDITIONS
Pour adhérer, vous devez remplir une demande d’adhésion en cliquant sur la rubrique DEVENIR PARTENAIRE ACE dans le menu.
Cette demande d’adhésion est soumise au comité de sélection qui décide de la valider ou non. Si elle est validée, vous êtes officiellement membre du réseau de partenaires ACE.
L’adhésion est totalement GRATUITE. A aucun moment, nous ne nous rétribuerons auprès de vous. Le seul coût de cette opération pour vous est la remise que vous consentez à proposer aux salariés. Notre rémunération est uniquement basée sur l’abonnement des CE, en aucun cas sur les partenaires.
Une fois que vous êtes partenaire ACE, vous avez un compte d’utilisateur sur ce site. Ce compte sécurisé vous permet de mettre en place de façon totalement autonome des offres pour le CE. Les offres sont soumises à notre comité, et lorsqu’elles sont validées, apparaissent directement en ligne sur 100% des sites ACE des CE adhérants. Si un salarié souhaite profiter de son offre, il n’aura qu’à présenter sa carte de membre ACE lors de sa venue pour en bénéficier. Rien de plus simple, pas de complications administratives !
OFFRES
Les offres que vous proposez sont « cadrées » par un certain nombre de critères :
- Leur durée : vous pouvez mettre en place des offres permanentes, éphémères ou limitées en quantité. Par exemple une remise permanente valable toute l’année et une autre remise plus importante spécifiquement dans une période qui vous intéresse davantage.
- Leur Portée : vous pouvez mettre en place des offres sur des produits/prestations spécifiques, ou sur l’ensemble de votre boutique. Par exemple, une offre sur un menu particulier ou sur tout votre carte si vous êtes restaurateur.
- Leur niveau: vous décidez du % de remise que vous accordez. Attention, plus la remise est importante, mieux vous êtes placé sur les sites ACE par rapport aux autres partenaires. A noter qu’il y a des minimum de remises à assurer selon le type d’offre. Par exemple, il n’est pas possible de soumettre une offre éphémère inférieure à 15% et une offre permanente inférieure à 5%.
DROITS & OBLIGATIONS
Dès l’instant qu’une offre soumise au comité de sélection à été validée, vous accéderez au contrat d’offre pré-rempli via votre compte et recevrez un email de notification pour vous en informer. Vous n’aurez qu’à le signer et le retourner pour que l’offre concernée soit visible en ligne. Vous devez impérativement assurer l’offre sur présentation de la carte ACE sur salarié durant toute sa durée de validité ou dans le cas d’une offre permanente, vous êtes tenu de prévenir de son arrêt et d’assurer les réservations en cours effectuées préalablement au retrait de l’offre, sauf cas de force majeur évidemment, par exemple, en cas de cessation d’activité.
En dehors de l’application des offres en cours, vous n’êtes tenu d’aucun engagement auprès de ACE. Vous pouvez ne publier aucune offre durant le temps qu’il vous plaira, et pouvez même librement supprimer votre compte.
Convaincu ? Devenez partenaires ACE !</p>
</div>
{% endblock %}